@import "../../../styles/colors.scss";

$duration: 1.5s;
$easingBox: cubic-bezier(.25, .75, .2, 1);
$easingElement: cubic-bezier(.19, .69, .4, 1);
$elementsSize: 30px;
$circleBorderWidth: 8px;
$numberOfElements: 8;

.box {
    position: absolute;
    z-index: 10;
    width: 160px;
    height: 160px;
    top: 120px;
    left: 120px;

    >div {
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
    }

    .top {
        top: 0;
        left: 0;
        border-width: 80px 80px 0 80px;
        border-color: $color-terciary transparent transparent transparent;
        animation: box-top $duration $easingBox infinite alternate;
    }

    .left {
        top: 0;
        left: 0;
        border-width: 80px 0 80px 80px;
        border-color: transparent transparent transparent lighten($color-terciary, 4%);
        animation: box-left $duration $easingBox infinite alternate;
    }

    .right {
        top: 0;
        right: 0;
        border-width: 80px 80px 80px 0;
        border-color: transparent darken($color-terciary, 7%) transparent transparent;
        animation: box-right $duration $easingBox infinite alternate;
    }

    .bottom {
        bottom: 0;
        right: 0;
        border-width: 0 80px 80px 80px;
        border-color: transparent transparent darken($color-terciary, 9%) transparent;
        animation: box-bottom $duration $easingBox infinite alternate;
    }
}

@mixin square($square-type: medium) {
    @if $square-type ==big {
        top: 0;
        left: 0;
        height: $elementsSize;
        width: $elementsSize;

        border: {
            style: solid;
            width: calc($circleBorderWidth / 1.5);
        }
    }

    @else if $square-type ==small {
        top: $elementsSize - 20;
        left: $elementsSize - 20;
        height: $elementsSize - 20;
        width: $elementsSize - 20;

        border: {
            style: solid;
            width: calc($circleBorderWidth / 4);
        }
    }

    @else if $square-type ==medium {
        top: $elementsSize - 25;
        left: $elementsSize - 25;
        height: $elementsSize - 10;
        width: $elementsSize - 10;

        border: {
            style: solid;
            width: calc($circleBorderWidth / 2);
        }
    }
}

.items {
    position: absolute;
    top: 50%;
    left: 50%;
    height: $elementsSize;
    width: $elementsSize;
    transform: translate(-50%, -50%);

    &__square {
        position: absolute;
        @include square;

        &.big {
            @include square(big);
        }

        &.small {
            @include square(small);
        }

        @for $i from 1 through $numberOfElements {
            &--#{$i} {
                animation: square-+($i) $duration $easingElement infinite alternate;
                ;
            }
        }
    }

    &__circle {
        position: absolute;
        @include square;
        border-radius: 50%;

        &.big {
            @include square(big);
        }

        &.small {
            @include square(small);
        }

        @for $i from 1 through $numberOfElements {
            &--#{$i} {
                animation: circle-+($i) $duration $easingElement infinite alternate;
            }
        }
    }
}
.color1 {
     border-color: saturate($color-quaternary, 20%);
}
.color2 {
     border-color: saturate($color-purple, 10%);
}
.color3 {
     border-color: saturate($color-blue, 20%);
}

@keyframes box-top {

    0%,
    20% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-180px);
    }
}

@keyframes box-left {

    0%,
    20% {
        transform: translateY(0);
    }

    100% {
        transform: translateX(-180px);
    }
}

@keyframes box-right {

    0%,
    20% {
        transform: translateY(0);
    }

    100% {
        transform: translateX(180px);
    }
}

@keyframes box-bottom {

    0%,
    20% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(180px);
    }
}

@keyframes square-1 {

    0%,
    20% {
        transform: scale(0) translate(0) rotate(0);
    }

    100% {
        transform: scale(1) translate(66px, 78px) rotate(110deg);
    }
}

@keyframes square-2 {

    0%,
    20% {
        transform: scale(0) translate(0) rotate(0);
    }

    100% {
        transform: scale(1) translate(46px, -141px) rotate(163deg);
    }
}

@keyframes square-3 {

    0%,
    20% {
        transform: scale(0) translate(0) rotate(0);
    }

    100% {
        transform: scale(1) translate(131px, -117px) rotate(126deg);
    }
}

@keyframes square-4 {

    0%,
    20% {
        transform: scale(0) translate(0) rotate(0);
    }

    100% {
        transform: scale(1) translate(91px, -94px) rotate(122deg);
    }
}

@keyframes square-5 {

    0%,
    20% {
        transform: scale(0) translate(0) rotate(0);
    }

    100% {
        transform: scale(1) translate(131px, -10px) rotate(111deg);
    }
}

@keyframes square-6 {

    0%,
    20% {
        transform: scale(0) translate(0) rotate(0);
    }

    100% {
        transform: scale(1) translate(-94px, -66px) rotate(125deg);
    }
}

@keyframes square-7 {

    0%,
    20% {
        transform: scale(0) translate(0) rotate(0);
    }

    100% {
        transform: scale(1) translate(-102px, 50px) rotate(139deg);
    }
}

@keyframes square-8 {

    0%,
    20% {
        transform: scale(0) translate(0) rotate(0);
    }

    100% {
        transform: scale(1) translate(-62px, 20px) rotate(118deg);
    }
}

@keyframes circle-1 {

    0%,
    20% {
        transform: scale(0) translate(0);
    }

    100% {
        transform: scale(1) translate(13px, -113px);
    }
}

@keyframes circle-2 {

    0%,
    20% {
        transform: scale(0) translate(0);
    }

    100% {
        transform: scale(1) translate(29px, -71px);
    }
}

@keyframes circle-3 {

    0%,
    20% {
        transform: scale(0) translate(0);
    }

    100% {
        transform: scale(1) translate(1px, -72px);
    }
}

@keyframes circle-4 {

    0%,
    20% {
        transform: scale(0) translate(0);
    }

    100% {
        transform: scale(1) translate(-62px, 132px);
    }
}

@keyframes circle-5 {

    0%,
    20% {
        transform: scale(0) translate(0);
    }

    100% {
        transform: scale(1) translate(18px, 68px);
    }
}

@keyframes circle-6 {

    0%,
    20% {
        transform: scale(0) translate(0);
    }

    100% {
        transform: scale(1) translate(62px, 15px);
    }
}

@keyframes circle-7 {

    0%,
    20% {
        transform: scale(0) translate(0);
    }

    100% {
        transform: scale(1) translate(74px, -25px);
    }
}

@keyframes circle-8 {

    0%,
    20% {
        transform: scale(0) translate(0);
    }

    100% {
        transform: scale(1) translate(95px, -45px);
    }
}