@import "../../../styles/colors.scss";

$darkColor: darken($color-secondary, 17%);
$darkOnWhiteColor: darken($color-secondary, 15%);
$lightColor: lighten($color-secondary, 20%);

.panda {
    position: relative;
}

.head {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    border: 8px solid $darkColor;
    z-index: 2;
    transform: scaleY(0.975);
}

.ear {
    position: absolute;
    width: 72px;
    height: 72px;
    background-color: $darkColor;
    border-radius: 50%;
    z-index: 1;
    top: -8px;
    left: 50%;

    $earOffset: 64px;

    &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border: 5px solid $lightColor;
    }

    &.left {
        transform: translateX(calc(-50% - $earOffset));
    }

    &.right {
        transform: translateX(calc(-50% + $earOffset));
    }
}

.eyes {
    position: absolute;
    inset: 0;
    transform-origin: 50% 50%;
    animation: eyes 10s ease-in-out infinite;
}

.eye {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: $darkOnWhiteColor;
    border-radius: 50%;
    z-index: 1;
    top: 72px;
    left: 50%;

    $eyeOffset: 42px;

    &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: white;
        transform: translate(-50%, -50%);
        top: 54%;
    }

    &.left {
        transform: translateX(calc(-50% - $eyeOffset));

        &::after {
            left: 51%;
        }
    }

    &.right {
        transform: translateX(calc(-50% + $eyeOffset));

        &::after {
            left: 49%;
        }
    }

    .flash {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: white;
        top: 9px;
        left: 13px;
    }
}

.nose {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;

    .center {
        width: 12px;
        height: 12px;
        background-color: $darkOnWhiteColor;
        border-radius: 50%;
    }

    .left,
    .right {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 32px;
        height: 48px;
        border-width: 6px;
        border-style: solid;
        border-radius: 50%;
        border-color: $darkOnWhiteColor transparent transparent transparent;
    }

    .left {
        transform: rotateX(180deg) translateX(-23px) translateY(36px);
    }

    .right {
        transform: rotateX(180deg) translateX(-7px) translateY(36px);
    }
}

.foot {
    position: absolute;
    width: 64px;
    height: 64px;
    background-color: $darkColor;
    border-radius: 50%;
    z-index: 1;
    top: 200px;
    left: 50%;

    $footOffset: 80px;

    &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border: 14px solid $lightColor;
    }

    &.left {
        transform: translateX(calc(-50% - $footOffset));
    }

    &.right {
        transform: translateX(calc(-50% + $footOffset));
    }
}

.butt {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: 222px;
    height: 64px;
    border-radius: 100px;
    background-color: $darkColor;
}

.belly {
    position: absolute;
    top: 156px;
    left: 50%;
    transform: translateX(-50%);
    width: 96px;
    height: 100px;
    border-radius: 24px 24px 32px 32px;
    background-color: white;

    &::before {
        content: '';
        position: absolute;
        left: -24px;
        right: -24px;
        top: 0;
        bottom: 24px;
        background-color: white;
        border: 6px solid $darkOnWhiteColor;
        border-bottom: 6px solid transparent;
        border-radius: 200px;
    }
}

.arm {
    &.left,
    &.right {
        position: absolute;
        top: 200px;
        left: 50%;
        width: 32px;
        height: 48px;
        border-width: 6px;
        border-style: solid;
        border-radius: 50%;
        border-color: $darkOnWhiteColor transparent transparent transparent;
    }

    &.left {
        transform: rotateX(180deg) translateX(-23px) translateY(36px);
    }

    &.right {
        transform: rotateX(180deg) translateX(-7px) translateY(36px);
    }
}

@keyframes eyes {
	0%, 23%, 25%, 65%, 67%, 89%, 91%, 100%  {
		transform: scaleY(1);
	}
	24%, 66%, 90% {
		transform: scaleY(0);
	}
}