@import "../../../styles/colors.scss";

$animation: 0.5s cubic-bezier(0.5, 0, 0.25, 1);
$icon-size: 64px;

$bottom-bar-x-position: translate(0, 200%) rotate(-45deg);
$bottom-bar-hamburger-position: translate(0, 400%) rotate(0);
$top-bar-x-position: translateY(200%) rotate(45deg);
$top-bar-hamburger-position: rotate(0);
$bar-neutral-position: translate(0, 200%) rotate(0);

.menuIcon {
    position: relative;
    width: $icon-size;
    height: $icon-size;
    z-index: 0;
}

/* Two radio buttons are used to simulate state
   They are basically a toggle because once radio is selected
   it is hidden and only the other one can be checked again.
   There is no selection at the start so the animation will not trigger.
 */
.radio {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;

    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;

    margin: 0;
    z-index: 2;
}

.radio:checked {
    display: none;
}

.button {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.bar {
    position: absolute;
    border-radius: 200px;
    margin: 4px 8px;
    left: 0;
    right: 0;
    top: 8px;
    height: 8px;
    z-index: 1;
    background-color: $color-quaternary;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: background-color 0.25s linear, box-shadow 0.25s linear;
}

.radio:hover ~ .button .bar {
    background-color: lighten($color-quaternary, 5%);
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.radio:active ~ .button .bar {
    background-color: darken($color-quaternary, 3%);
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.barBottom {
    transform: translateY(400%);
}

.barMiddle {
    transform: translateY(200%);
}

/* 
  The first radio is checked.
  Trigger animation into Hamburger.
*/

.radio:checked ~ .button .barTop {
    animation: topBarToHamburger $animation forwards;
}

.radio:checked ~ .button .barTopCover {
    animation: topBarToHamburger $animation forwards;
}

.radio:checked ~ .button .barMiddle {
    transform: translateY(200%) scale(1);
    transition: transform $animation;
}

.radio:checked ~ .button .barBottom {
    animation: bottomBarToHamburger $animation forwards;
}

@keyframes topBarToHamburger {
    0% {
        transform: $top-bar-x-position;
    }
    50% {
        transform: $bar-neutral-position;
    }
    100% {
        transform: $top-bar-hamburger-position;
    }
}

@keyframes bottomBarToHamburger {
    0% {
        transform: $bottom-bar-x-position;
    }
    50% {
        transform: $bar-neutral-position;
    }
    100% {
        transform: $bottom-bar-hamburger-position;
    }
}

/* 
  The second radio is checked
  Trigger animation into X.
 */
.radio:checked + .button .barTop {
    animation: topBarToX $animation forwards;
}

.radio:checked + .button .barTopCover {
    animation: topBarToX $animation forwards;
}

.radio:checked + .button .barMiddle {
    transform: translateY(200%) scale(0);
    transform-origin: center;
}

.radio:checked + .button .barBottom {
    animation: bottomBarToX $animation forwards;
}

@keyframes topBarToX {
    0% {
        transform: $top-bar-hamburger-position;
    }
    50% {
        transform: $bar-neutral-position;
    }
    100% {
        transform: $top-bar-x-position;
    }
}

@keyframes bottomBarToX {
    0% {
        transform: $bottom-bar-hamburger-position;
    }
    50% {
        transform: $bar-neutral-position;
    }
    100% {
        transform: $bottom-bar-x-position;
    }
}

.barTopCover {
    box-shadow: none !important;
}
