@import "../../../styles/colors.scss";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.flex {
    display: flex;
    flex-direction: column;
}

.title {
    margin: 0;
    text-align: center;
    color: $color-quaternary;
    font-size: 64px;
    line-height: 80px;
    font-weight: 600;
    text-shadow: 0px 0px 16px rgb(34, 34, 34);
}

.subtitle {
    margin: 0;
    text-align: center;
    color: $color-quaternary;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 300;
    text-shadow: 0px 0px 16px rgb(34, 34, 34);
}
