@import "../../../styles/colors.scss";

.container {
	display: grid;
	grid-template-columns: repeat(20, 1fr);
	grid-template-rows: repeat(20, 1fr);
}

.trigger {
	width: 20px;
	height: 20px;

	@for $i from 1 through 400 {
		&:hover {
			~ .lines {
				
			}
		}
	}
}