@import "../../../styles/colors.scss";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400);

.card {
    font-weight: 300;
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.3);
    color: darken($color-terciary, 15%);
}

.grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 7fr 4fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;
    row-gap: 2px;

    > div:first-of-type {
        grid-column: 1;
        grid-row: 1 / 4;
    }
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 12px 32px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;

    button {
        cursor: pointer;
        background-color: white;
        border: 1px solid darken($color-terciary, 15%);
        border-radius: 100px;
        padding: 8px 12px;
        width: 100%;
        font-size: 12px;
        font-weight: 600;
        color: inherit;
        transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

        &:hover {
            background-color: darken($color-terciary, 15%);
            color: white;
        }
    }
}

.bio {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.avatar {
    cursor: pointer;
    position: relative;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    align-self: center;

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        border-radius: 50%;
        border: 1px solid darken($color-terciary, 15%);
        transition: transform 1.5s ease-in-out;
    }

    &:hover {
        &::before {
            transform: rotate(360deg);
        }

        &::after {
            transform: rotate(-360deg);
        }
    }

    &::before {
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        border-left: 1px solid transparent;
    }

    &::after {
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        border-right: 1px solid transparent;
    }
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;

    span:first-of-type {
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
    }

    span {
        font-size: 12px;
        line-height: 14px;
        font-weight: 300;
    }
}

.sideButton {
    cursor: pointer;
    color: inherit;
    background-color: rgba($color-terciary, 0.35);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.35s ease-in-out;

    span:first-of-type {
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
    }

    span {
        font-size: 12px;
        line-height: 14px;
        font-weight: 400;
    }

    &:hover {
        background-color: rgba($color-terciary, 0.5);
    }
}
