@import "../../../styles/colors.scss";

$numberOfDots: 12;
$numberOfRings: 6;

.ring {
    position: absolute;
    inset: 0;

    @for $i from 0 through $numberOfRings {
        transform-origin: 50% 50%;
        &:nth-child(#{$i + 1}) {
            opacity: 1 - 0.1 * $i;
            animation: 200000s rotate-#{$i} infinite alternate;
        }

        @keyframes rotate-#{$i} {
            from {
                transform: scale(1 - 0.173 * $i) rotate(30deg * $i);
            }
            to {
                transform: scale(1 - 0.13 * $i) rotate(360deg + 30deg * $i);
            }
        }
    }
}

.dot {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background-color: $color-quaternary;

    @for $i from 0 through $numberOfDots {
        &:nth-child(#{$i + 1}) {
            transform: rotate($i * 30deg) translate(110px);
        }
    }
}
