@import "../../../styles/colors.scss";

$buttonHeight: 40px;
$envelopeAnimationDuration: 0.75s;
$planeAnimationDuration: 0.65s;
$planeFlightAnimationDuration: 1s;

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column-reverse;
    flex: auto 1;
    gap: 48px;
}

.background {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: $color-secondary;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
        content: "";
        border-radius: 50%;
        position: absolute;
        inset: 0px;
        border: 3px solid $color-secondary;
    }
}

.sendButton:checked + .background {
    transform: scale(0);
    transition: transform $envelopeAnimationDuration ease-in;

    &::after {
        inset: -80px;
        transition: inset 0.5s ease-in;
    }
}

.svgContainer {
    position: absolute;
    top: 48px;
    width: 120px;
    height: 120px;
    svg {
        width: inherit;
        height: inherit;
        stroke: white;
        stroke-width: 2px;
        fill: none;
    }
}

.sendButton {
    all: unset;
    background-color: white;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    width: 60%;
    height: $buttonHeight;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &::before {
        position: absolute;
        display: flex;
        inset: 0;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }

    &:hover {
        background-color: $color-terciary;
        color: white;
        box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.25);
    }

    &::before {
        content: "Send Email";
    }

    &:checked {
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        animation: buttonAnimation 1s $envelopeAnimationDuration +
            $planeAnimationDuration - 0.3s linear forwards;

        &::before {
            animation: buttonAnimationBefore 1s $envelopeAnimationDuration +
                $planeAnimationDuration - 0.3s linear forwards;
        }
    }
}

@keyframes buttonAnimation {
    0% {
        background-color: $color-quaternary;
    }
    15%,
    20% {
        background-color: $color-terciary;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    40%,
    45% {
        width: $buttonHeight;
        margin-left: auto;
        margin-right: auto;
        background-color: $color-terciary;
        transform: scale(1);
    }
    50%,
    55% {
        width: $buttonHeight;
        margin-left: auto;
        margin-right: auto;
        background-color: $color-terciary;
        transform: scale(1.2);
    }
    65%,
    66% {
        width: $buttonHeight;
        margin-left: auto;
        margin-right: auto;
        background-color: $color-terciary;
        transform: scale(0);
        opacity: 1;
    }
    67% {
        transform: scale(0);
        opacity: 0;
    }
    85% {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        transform: scale(1);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes buttonAnimationBefore {
    0% {
        opacity: 1;
    }
    20%,
    70% {
        opacity: 0;
    }
    71% {
        content: "Reset";
        opacity: 0;
    }
    72%,
    100% {
        content: "Reset";
        opacity: 1;
    }
}

.check {
    position: absolute;
    padding: 36px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background-color: $color-secondary;
    transform: translate(-50%, -50%) rotateY(-90deg);
}

.sendButton:checked ~ .svgContainer {
    .envelope {
        animation: planeFlight $planeFlightAnimationDuration
            $envelopeAnimationDuration + $planeAnimationDuration
            cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
        path:nth-of-type(1) {
            animation: envelopeTop $envelopeAnimationDuration linear forwards,
                planeTop $planeAnimationDuration $envelopeAnimationDuration -
                    0.25s linear forwards;
        }
        path:nth-of-type(2) {
            animation: envelopeBottom $envelopeAnimationDuration linear forwards,
                planeBottom $planeAnimationDuration $envelopeAnimationDuration -
                    0.25s linear forwards;
        }
    }

    .check {
        transform: translate(-50%, -50%) rotateY(0);
        transition: transform 0.15s $envelopeAnimationDuration +
            $planeAnimationDuration + 0.5s ease-out;
    }
}

@keyframes planeFlight {
    0% {
        transform: translate(0, 0) scale(1);
    }
    40% {
        transform: translate(-50px, 35px) scale(1.05);
    }
    100% {
        transform: translate(300px, -200px) scale(0.7);
    }
}

@keyframes planeTop {
    0% {
        d: path("M 120,25 120,25 120,25 120,25");
    }
    33% {
        d: path("M 120,25 0,50 0,50 0,50");
    }
    66% {
        d: path("M 120,25 0,50 60,90 60,90");
    }
    100% {
        d: path("M 120,25 0,50 60,90 120,25");
    }
}

@keyframes planeBottom {
    0% {
        d: path("M 120,25 120,25 120,25 120,25");
    }
    33% {
        d: path("M 120,25 25,65 25,65 25,65");
    }
    66% {
        d: path("M 120,25 25,65 25,90 25,90");
    }
    100% {
        d: path("M 120,25 25,65 25,90 45,80");
    }
}

@keyframes envelopeTop {
    0% {
        d: path("M 120,25 0,25 60,70 120,25");
    }
    25% {
        d: path("M 0,25 0,25 60,70 120,25");
    }
    50% {
        d: path("M 60,70 60,70 60,70 120,25");
    }
    75%,
    100% {
        d: path("M 120,25 120,25 120,25 120,25");
    }
}

@keyframes envelopeBottom {
    0% {
        d: path("M 0,25 0,95 120,95 120,25");
    }
    25% {
        d: path("M 0,95 0,95 120,95 120,25");
    }
    50% {
        d: path("M 120,95 120,95 120,95 120,25");
    }
    75%,
    100% {
        d: path("M 120,25 120,25 120,25 120,25");
    }
}
