@import "./styles/colors.scss";

body {
    background-color: lighten($color-primary, 70%);
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;

    @media (min-width: 1200px) {
        padding: 64px;
    }
}

.grid {
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;

    grid-template-columns: repeat(auto-fit, 400px);
    justify-content: space-around;
    gap: 0;

    list-style: none;
    max-width: 1200px;

    @media (min-width: 400px) {
        padding-top: 48px;
        padding-bottom: 48px;
        gap: 64px;
    }

    h2 {
        margin-top: 0;
    }
}

::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $color-quaternary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: lighten($color-quaternary, 10%);
}

h1 {
    font-size: 32px;
}

.note {
    max-width: 1200px;
    padding: 16px;
    text-align: justify;

    @media (min-width: 1200px) {
        padding: 32px 64px;
    }
}

.links {
    display: flex;
    flex-direction: row;
    gap: 8px;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        color: inherit;

        &:visited {
            color: inherit;
        }

        &:hover {
            opacity: 0.85;
        }
    }
}
