@import "./styles/colors.scss";

body {
    background-color: lighten($color-primary, 70%);
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;

    @media (min-width: 1200px) {
        padding: 64px;
    }
}

.grid {
    padding: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 32px;

    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: space-around;

    list-style: none;
    max-width: 1200px;

    @media (min-width: 1200px) {
        grid-template-columns: repeat(auto-fit, 400px);
        padding-top: 48px;
        padding-bottom: 48px;
        gap: 64px;
    }

    li {
        width: 100%;
    }
}

::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $color-quaternary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: lighten($color-quaternary, 10%);
}

h1 {
    font-size: 32px;
}

.note {
    max-width: 1200px;
    padding: 16px;
    text-align: justify;

    @media (min-width: 1200px) {
        padding: 32px 64px;
    }
}
